<div class="p-3">
    <button class="btn btn-primary" [routerLink]="'/leave-request'">Apply Leave</button>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Leave Type</th>
            <th scope="col">Status</th>
            <th scope="col">Comments</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of leaves">
            <td scope="row">{{ i.userId }}</td>
            <td scope="row">{{ i.name }}</td>
            <td>{{ i.fromDate | date }}</td>
            <td>{{ i.toDate | date }}</td>
            <td>{{ i.leaveTypeName }}</td>
            <td><span class="badge" [ngClass]="{'badge-warning': i.statusName === 'Pending',
            'badge-btn-success' : i.statusName === 'Approved',
            'badge-danger' : i.statusName === 'Rejected' }">{{ i.statusName }} </span></td>
            <td>{{ i.comments }}</td>
            <td>
                <button class="btn btn-primary" (click)="openApproveDialog(i.id)">Approve</button>
                <button class="btn btn-warning" (click)="openRejectDialog(i.id)">Reject</button>
            </td>
        </tr>
    </tbody>
</table>